@media screen and (max-width:600px){
  .container__small-card{
    margin-bottom: 1rem;
    width: 50rem;
    }
  .container__small-card-content > a{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  .small-card__photo > img {
    width: 15rem;
    min-width: 15rem;
    margin: 1rem 1rem;
  }

  .small-card__title > h1{
    font-size: 1.5rem;
  }

}
